OPENAI_API_KEY=
OPENSTATES_API_KEY=
EXA_API_KEY=
SOCRATA_APP_TOKEN=
APIFY_API_KEY=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PROJECT_REF=

DATABASE_URL=
DIRECT_URL=

RAILWAY_TOKEN=
VERCEL_TOKEN=

MIRO_ACCESS_TOKEN=
